#contact {
    background-color: var(--white);
    padding: 4rem 2rem;
    text-align: center;
  }
  
  #contact a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
  }
  
  #contact a:hover {
    color: var(--black);
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-form label {
    text-align: left;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark);
    font-size: 0.95rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--black);
  }
  
  .contact-form button {
    background: var(--accent);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 0.75rem 2rem;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background: var(--black)
  }
  